@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  margin: 0;
  padding: 0;
  font:"space grotesk",sans-serif;
  background-color: black;
  color: white;
}

@layer utilities{
  @keyframes loading{
    0%{
      transform:translatex(-100%);
    }
    100%{
      transform:translatex(250%);
    }
  }
}

.animate-loading-bar{
  animation:loading 0.8s ease infinite;
}